###############################################################################
# BASECONHECIMENTO
# 02_requirements.txt
# VERSION 3.1
# REQUISITOS NORMATIVOS ORIENTADOS A RESPONSABILIDADES TÉCNICAS
#
# A unidade normativa da arquitetura é a Obrigação Normativa.
# Responsabilidade Técnica é uma categoria da Obrigação Normativa.
# DRT é evidência documental.
###############################################################################

###############################################################################
# TABELA 1
###############################################################################

REQUIREMENT REQ_T1_DRT_REQUIRED
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY RT_002_EXECUCAO_DE_OBRA
CATALOG_IDENTIFIER RT-002
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T1_001
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_SIGNED
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY EACH_REQUIRED_TECHNICAL_RESPONSIBILITY
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T1_005
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_REGISTERED
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY EACH_REQUIRED_TECHNICAL_RESPONSIBILITY
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
EVIDENCE_ATTRIBUTE REGISTERED
NONCONFORMITY NC_T1_004
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_PROFESSIONAL_REGULARITY
TABLE 1
SOURCE CONFEA_CREA
REQUIRED_TECHNICAL_RESPONSIBILITY EACH_REQUIRED_TECHNICAL_RESPONSIBILITY
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
EVIDENCE_ATTRIBUTE COUNCIL_STATE
EVIDENCE_ATTRIBUTE RESPONSIBILITY_TYPE
EVIDENCE_ATTRIBUTE PROFESSIONAL_REGULARITY
VALIDATE RESPONSIBILITY_EVIDENCE_PROFESSIONAL_REGULARITY
NONCONFORMITY NC_T1_009
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_ACTIVITY_EXECUTION
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY RT_002_EXECUCAO_DE_OBRA
CATALOG_IDENTIFIER RT-002
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE RESPONSIBILITY_ACTIVITY_COMPATIBLE
NONCONFORMITY NC_T1_008
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_SMSCI
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
FOR_EACH WORKLIST.SMSCI
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T1_002
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_CONFORMITY_REPORT
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY RT_007_AVALIACAO_TECNICA
CATALOG_IDENTIFIER RT-007
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT CONFORMITY_REPORT
NONCONFORMITY NC_T1_003
END

-------------------------------------------------------------------------------

REQUIREMENT REQ_T1_CONFORMITY_REPORT_SIGNED
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY RT_007_AVALIACAO_TECNICA
CATALOG_IDENTIFIER RT-007
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT CONFORMITY_REPORT
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T1_003_SIGNED
END
-------------------------------------------------------------------------------
REQUIREMENT REQ_T1_DRT_BASIC_DATA
TABLE 1
SOURCE IN01
REQUIRED_TECHNICAL_RESPONSIBILITY EACH_REQUIRED_TECHNICAL_RESPONSIBILITY
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
EVIDENCE_ATTRIBUTE RI_NAME
VALIDATE RESPONSIBILITY_EVIDENCE_MATCHES_PROCESS_RI_LEGAL_ENTITY
EVIDENCE_ATTRIBUTE RT_NAME
EVIDENCE_ATTRIBUTE ADDRESS
EVIDENCE_ATTRIBUTE AREA
NONCONFORMITY NC_T1_006_RI
NONCONFORMITY NC_T1_006_RT
NONCONFORMITY NC_T1_006_ADDRESS
NONCONFORMITY NC_T1_006_AREA
END

###############################################################################
# IN07
###############################################################################
REQUIREMENT REQ_IN07_COMMISSIONING
TABLE 4
SMSCI SMSCI_SHP
SOURCE IN07
ARTICLE 106
REQUIRED_TECHNICAL_RESPONSIBILITY RT_014_COMISSIONAMENTO
CATALOG_IDENTIFIER RT-014
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT SHP_COMMISSIONING_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T4_001
END

###############################################################################
# IN08
###############################################################################
REQUIREMENT REQ_IN08_ESTANQUEIDADE
TABLE 4
SMSCI SMSCI_GAS
SOURCE IN08
ARTICLE 95
REQUIRED_TECHNICAL_RESPONSIBILITY RT_006_ENSAIO_TECNICO
CATALOG_IDENTIFIER RT-006
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT GAS_TIGHTNESS_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
VALIDITY_MAX_YEARS 5
NONCONFORMITY NC_T4_002
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN08_MANUAL
TABLE 4
SMSCI SMSCI_GAS
SOURCE IN08
ARTICLE 80
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT GAS_OWNER_MANUAL
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_003
END

###############################################################################
# IN09
###############################################################################
REQUIREMENT REQ_IN09_DRT
TABLE 4
SMSCI SMSCI_PRESSURIZATION
SOURCE IN09
ARTICLE 122
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE RESPONSIBILITY_ACTIVITY_COMPATIBLE
REQUIRED_TECHNICAL_RESPONSIBILITY RT_005_INSPECAO_TECNICA
CATALOG_IDENTIFIER RT-005
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE RESPONSIBILITY_ACTIVITY_COMPATIBLE
NONCONFORMITY NC_T4_004
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN09_TEST_REPORT
TABLE 4
SMSCI SMSCI_PRESSURIZATION
SOURCE IN09
ARTICLE 122
REQUIRED_TECHNICAL_RESPONSIBILITY RT_006_ENSAIO_TECNICO
CATALOG_IDENTIFIER RT-006
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT PRESSURIZATION_TEST_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
CONTENT IN09_ART122_REQUIRED_ITEMS
DESCRIPTION
O relatório deve registrar inspeção de grupos motoventiladores, smoke vents e dampers, dutos e ancoragens, interface com SDAI, central de controle e monitoramento, acionamentos automáticos e manuais, quadros de proteção e acionamento e portas corta-fogo, quando aplicáveis.
NONCONFORMITY NC_T4_005
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN09_MANUAL
TABLE 4
SMSCI SMSCI_PRESSURIZATION
SOURCE IN09
ARTICLE 122
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT PRESSURIZATION_OPERATION_MANUAL
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_006
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN09_CHECKLIST
TABLE 4
SMSCI SMSCI_PRESSURIZATION
SOURCE IN09
ARTICLE 122
REQUIRED_TECHNICAL_RESPONSIBILITY RT_015_MANUTENCAO
CATALOG_IDENTIFIER RT-015
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT PRESSURIZATION_MAINTENANCE_CHECKLIST
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T4_007
END

###############################################################################
# IN10
###############################################################################
REQUIREMENT REQ_IN10_COMMISSIONING
TABLE 4
SMSCI SMSCI_SMOKE_CONTROL
SOURCE IN10
ARTICLE 41
REQUIRED_TECHNICAL_RESPONSIBILITY RT_014_COMISSIONAMENTO
CATALOG_IDENTIFIER RT-014
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT SMOKE_CONTROL_COMMISSIONING_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
REQUIRE INDEPENDENT_PARTY
NONCONFORMITY NC_T4_008
END

###############################################################################
# IN12
###############################################################################
REQUIREMENT REQ_IN12_COMMISSIONING
TABLE 4
SMSCI SMSCI_SDAI
SOURCE IN12
ARTICLE 47
REQUIRED_TECHNICAL_RESPONSIBILITY RT_014_COMISSIONAMENTO
CATALOG_IDENTIFIER RT-014
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT SDAI_COMMISSIONING_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T4_009
END

###############################################################################
# IN15
###############################################################################
REQUIREMENT REQ_IN15_COMMISSIONING
TABLE 4
SMSCI SMSCI_SPRINKLER
SOURCE IN15
ARTICLE 30
REQUIRED_TECHNICAL_RESPONSIBILITY RT_014_COMISSIONAMENTO
CATALOG_IDENTIFIER RT-014
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT SPRINKLER_COMMISSIONING_REPORT
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T4_010
END

###############################################################################
# IN18
###############################################################################
REQUIREMENT REQ_IN18_CMAR
TABLE 4
SMSCI SMSCI_CMAR
SOURCE IN18
ARTICLE 14
REQUIRED_TECHNICAL_RESPONSIBILITY RT_007_AVALIACAO_TECNICA
CATALOG_IDENTIFIER RT-007
OBLIGATORINESS REQUIRED
TECHNICAL_PRODUCT CMAR_DECLARATION
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE TECHNICAL_PRODUCT_ATTRIBUTE
EVIDENCE_ATTRIBUTE SIGNED
NONCONFORMITY NC_T4_011
END

###############################################################################
# IN19
###############################################################################
REQUIREMENT REQ_IN19_EXECUTION
TABLE 4
SMSCI SMSCI_IEL
SOURCE IN19
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_012
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN19_GROUNDING
TABLE 4
SMSCI SMSCI_IEL
SOURCE IN19
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
RESPONSIBILITY_SCOPE GROUNDING
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_013
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN19_FINAL_VERIFICATION
TABLE 4
SMSCI SMSCI_IEL
SOURCE IN19
REQUIRED_TECHNICAL_RESPONSIBILITY RT_007_AVALIACAO_TECNICA
CATALOG_IDENTIFIER RT-007
RESPONSIBILITY_SCOPE FINAL_VERIFICATION
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
VALIDATE RESPONSIBILITY_ACTIVITY_COMPATIBLE
NONCONFORMITY NC_T4_014
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN19_MAINTENANCE
TABLE 4
SMSCI SMSCI_IEL
SOURCE IN19
REQUIRED_TECHNICAL_RESPONSIBILITY RT_015_MANUTENCAO
CATALOG_IDENTIFIER RT-015
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
REQUIRED_TECHNICAL_RESPONSIBILITY RT_016_REGULARIZACAO_TECNICA
CATALOG_IDENTIFIER RT-016
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
RULE ANY
NONCONFORMITY NC_T4_015
END

###############################################################################
# IN34
###############################################################################
REQUIREMENT REQ_IN34_EXPLOSION_PROTECTION
TABLE 4
SMSCI M5_EXPLOSION_PROTECTION
SOURCE IN34
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_016_01
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN34_DUST_CONTROL
TABLE 4
SMSCI M5_DUST_CONTROL
SOURCE IN34
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_016_02
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN34_HEAT_SENSORS
TABLE 4
SMSCI M5_HEAT_SENSORS
SOURCE IN34
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_016_03
END

-------------------------------------------------------------------------------
REQUIREMENT REQ_IN34_LIGHTNING_PROTECTION
TABLE 4
SMSCI M5_LIGHTNING_PROTECTION
SOURCE IN34
REQUIRED_TECHNICAL_RESPONSIBILITY RT_003_EXECUCAO_DE_SISTEMA
CATALOG_IDENTIFIER RT-003
OBLIGATORINESS REQUIRED
DRT_EVIDENCE CATALOG_ACCEPTED
NONCONFORMITY NC_T4_016_04
END

###############################################################################
# END
###############################################################################
